.container {
    aspect-ratio: 1/1;

    display: grid;
    grid-template-rows: 35px 1fr 35px;

    background-color: var(--accent6);

    cursor: pointer;
}

.item {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
}

.img {
    padding: 16px;
    position: absolute;
    max-height: 100%;
    border-radius: 3px;
}

.imgContainer {
    position: relative;
    display: flex;
    align-items: center;
}