.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.item {
    cursor: pointer;
    background-color: var(--accent5);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    padding: 6px;
}

.active {
    outline: var(--accent4) 2px solid;
}