.container {
    display: grid;

    grid-template-columns: 150px 1fr;
}

@media screen and (max-width:700px) {
    .container {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }
}