* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  /* outline: white 1px solid; */
}

body {
  background-color: #191919;
  color: white;

  /* width: 100vw; */
}

a {
  text-decoration: none;
  color: inherit;

  transition: 0.2s ease-in-out;
}

a:hover {
  color: white;
}

.mc {
  font-weight: 200;
}

:root {
  color-scheme: dark;

  --accent1: #FFFFFF;
  --accent2: #9A9A9A;
  --accent3: #666666;
  --accent4: #444444;
  --accent5: #222222;
  --accent6: #111111;

  --accent-1: #000000;


  --accent1-rgb: 255, 255, 255;
  --accent2-rgb: 154, 154, 154;
  --accent3-rgb: 102, 102, 102;
  --accent4-rgb: 68, 68, 68;
  --accent5-rgb: 34, 34, 34;
  --accent6-rgb: 17, 17, 17;

  --accent-1-rgb: 0, 0, 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.loading * {
  transition: none !important;
}