* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  /* outline: white 1px solid; */
}

body {
  background-color: #191919;
  color: white;

  /* width: 100vw; */
}

a {
  text-decoration: none;
  color: inherit;
}

.mc {
  font-weight: 200;
}

:root {
  --accent1: #FFFFFF;
  --accent2: #9A9A9A;
  --accent3: #666666;
  --accent4: #222222;
  --accent5: #111111;

  --accent-1: #000000;
}